# Rename this file to .env and remove these quoted lines if you intend to use it
# See set.js on how to set values
PREFIX=, 
API_KEY=gifted-md
SESSION_ID=Gifted~Uetx0aBB#RItz3cKOl4BIN6aNwX-VCgwbUPbzSNoXdoE8mn8dfJY
BOT_NAME=SOURAJIT-AI
BOT_PIC=https://files.catbox.moe/y16skc.jpg
AUTO_READ_STATUS=true
AUTO_LIKE_STATUS=true
AUTO_LIKE_EMOJI=💚
AUTO_REPLY_STATUS=false
STATUS_REPLY_MSG=✅️ Status Viewed by Gifted-Md!
ANTICALL=false
ANTI_DELETE=true
ANTICALL_MSG=*_📞 Auto Call Reject Mode Activated by Gifted-Md. 📵 No Calls Allowed Dude!_*
MODE=public
WELCOME=false
GOODBYE=false
AUTO_READ_MESSAGES=false
PRESENCE=online
OWNER_NAME=SOURAJIT-AI
OWNER_NUMBER=916909950582
SUDO_NUMBERS=916909950582
AUTO_AUDIO=false
BAD_WORDS=fuck,pussy,anus,idiot
ANTIBAD=false
AUTO_BIO=TRUE
AUTO_BIO_QUOTE=SOURAJIT-AI⚡ created Coding is a good thing
CHAT_BOT=false
AUTO_BLOCK=98,77
AUTO_REACT=false
PACK_NAME=SOURAJIT-AI
PACK_NAME=◄⏤͟͞➸⃝❥͜͡𝑆𝛩𝑈𝑅𝛥𝐽𝛪𝑇➸⃝⚡
TIME_ZONE=Africa/Nairobi
